<h1>レシピを作成</h1>
<%= form_for(@recipe) do |f| %>
    title<br>
    <%= f.text_field :title %><br>
    <%= f.label :image %><br>
    <%= f.file_field :image %><br>
    <%= f.hidden_field :image_cache %>
    材料<br>
    <%= f.text_area :ingredients %><br>
    作り方<br>
    <%= f.text_area :procedures %><br>
    <%= f.submit "投稿" %>
<% end %>